body {
    margin: 0;
    font-family: "Mulish",'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #696765;
    background: #FFFFFF;
    text-decoration: none;
}

code {
    font-family: Mulish, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
    text-decoration: none;
    color: #696765;
}

.wrapper {
    max-width: 1366px;
    border: 1px solid red;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 1 - BLOCK HEADER */
.headerBlock {
    background: #FFFFFF;
    color: #696765;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    height: 151px;
    margin-bottom: 20px;
    padding: 0 40px;
    position: relative;
}
.headerBlock_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerBlock_logo img{
    display: block;
}
.headerBlock_nav {
    display: flex;
    justify-content: space-between;
}
.headerBlock_select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-end; /* Відцентрувати вздовж горизонтальної вісі в кінці контейнера */
    text-align: center;
    grid-column-gap: 20px;
}
.headerBlock_select > div:nth-child(4) {
    display: block;
}
.headerBlock_select a{

}

.headerBlock_language{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    cursor: pointer;
}

/* 2 - BLOCK Hero */
.heroBlock {
    display: block;
    position: relative;
    max-width: 1366px;
}
/*.heroBlock img{*/
/*    display: block;*/
/*    position: relative;*/
/*    max-width: 1366px;*/
/*}*/
.heroBlock_logo {
    display: block;
    height: 656px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heroBlock_text {
    display: block;
    position: absolute;

    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    color: #FFFFFF;
    text-align: right;
    top: 48%;
    right: 80px;

}



/* 3 - BLOCK AboutUs */

.AboutUsBlock {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 70px auto;
}
.AboutUsBlock_Name {
    display: block;
    font-size: 42px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF00008A;
    text-transform: uppercase;

}
.AboutUsBlock_Graf {
    display: block;
}

/* 4- BLOCK AboutUs_DescBlock */

.AboutUs_DescBlock{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.AboutUs_Desc_Img {
    display: block;
    max-width: 763px;
    height: 231px;
}

.AboutUs_Desc_Text{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    max-width: 442px;
    text-align: justify;
    align-items: center;
    padding: 40px;
}

/* 5- BLOCK OurTeamExperts */
.OurTeamExperts_Block {
    display: flex;
    min-height: 231px;
    position: relative;
    margin: 130px auto 0px;
}

.OurTeamExperts_Left{
    display: block;
    width: 50%;
    font-size: 42px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF00008A;
    text-transform: uppercase;
    margin: 0 40px;

}
.OurTeamExperts_Right {
    display: block;
    width: 50%;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: justify;
    max-width: 556px;
}

.OurTeamExperts_Right_Link {
    display: block;
    margin: 10px 0;

}

/* 6- BLOCK OurStrhengths */
.OurStrhengths_Block {
    max-width: 1170px;
    height: 266px;
    margin: 0 auto;
    background: #0267FF12;
    display: block;
    border-radius: 20px;
    position: relative;
    padding: 40px;
    box-sizing: border-box;

}

.OurStrhengths_Name {
    display: block;
    font-size: 42px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF00008A;
    text-transform: uppercase;
}

.OurStrhengths_Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 25px;
}

.OurStrhengths_Grid img {
    display: block;
    margin: 0 auto;
}

/* 7- BLOCK OurStrhengths */
.WhatWeDo_Block {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 130px auto 0px;

}

.WhatWeDo_Name {
    display: block;
    font-size: 42px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF00008A;
    text-transform: uppercase;
    height: 216px;
    margin-top: 100px;
}

.WhatWeDo_Left_BorderBLock {
    display: block;
    width: 396px;
    height: 572px;
    border: 2px solid #696765;
    border-radius: 20px;
    padding: 80px;
    box-sizing: border-box;
    position: relative;
    margin-top: 30px;

}

.WhatWeDo_Left_BorderBLock span {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    width: 240px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.WhatWeDo_Left_BorderBLock p {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 240px;

}

.WhatWeDo_Right_BorderBLock {
    display: block;
    width: 650px;
    min-height: 216px;
    border: 2px solid #696765;
    border-radius: 20px;
    padding: 10px 80px;
    margin-bottom: 95px;
    box-sizing: border-box;
    position: relative;

}

.WhatWeDo_Right_BorderBLock span {
    display: block;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    width: 530px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.WhatWeDo_Right_BorderBLock p {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 530px;

}

.WhatWeDo_Left_img {
    display: block;
    position: absolute;
    top: -3%;
    left: 80px;
    background: #FFFFFF;
    width: 170px;
    margin: -40px;
}

.WhatWeDo_Right_img {
    display: block;
    position: absolute;
    top: -29%;
    left: 41px;
    background: #FFFFFF;
    width: 225px;
    padding-left: 37px;
}